<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FeedBuilder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <FeedBuilder.My.MySettings>
            <setting name="BaseURL" serializeAs="String">
                <value/>
            </setting>
            <setting name="CleanUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompareDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompareHash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompareSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompareVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FeedXML" serializeAs="String">
                <value/>
            </setting>
            <setting name="IgnoreDebugSymbols" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreVsHosting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value/>
            </setting>
        </FeedBuilder.My.MySettings>
    </userSettings>
</configuration>
