<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FeedBuilder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <FeedBuilder.My.MySettings>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FeedXML" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreDebugSymbols" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BaseURL" serializeAs="String">
                <value />
            </setting>
            <setting name="CompareVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompareSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompareDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompareHash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CleanUp" serializeAs="String">
                <value>True</value>
            </setting>
        </FeedBuilder.My.MySettings>
    </userSettings>
</configuration>